<a href="https://colab.research.google.com/github/ienoiaa/ienoia/blob/master/Calvario5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Activity - Data Transformation



Importing Libraries

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

2. Load and read the datasets in google colab.

In [17]:
math = pd.read_csv("student_grade_math.csv")
science = pd.read_csv("student_grade_science.csv")

print("Math Dataset Preview:")
print(math.head(), "\n")

print("Science Dataset Preview:")
print(science.head(), "\n")

Math Dataset Preview:
  STUDENT GRADES       Unnamed: 1  Unnamed: 2
0            NaN              NaN         NaN
1           MALE              NaN         NaN
2            No.             Name  Math grade
3              1  Jones, Richard           57
4              2   Jones, Charles          81

Science Dataset Preview:
  STUDENT GRADES       Unnamed: 1     Unnamed: 2
0            NaN              NaN            NaN
1           MALE              NaN            NaN
2            No.             Name  Science Grade
3              1  Jones, Richard              90
4              2   Jones, Charles             89

In [19]:
#Removing irrelevant header rows and keeping only useful columns

math_clean = math.dropna().iloc[1:].reset_index(drop=True)
science_clean = science.dropna().iloc[1:].reset_index(drop=True)

#Rename columns properly
math_clean.columns = ["No", "Name", "Math"]
science_clean.columns = ["No", "Name", "Science"]

3.	Merge the male and female and list them in alphabetical order. Do this for both math and science student grades dataset.

In [20]:
print("Merged male and female in both subject by alphabetical order:")
math_sorted = math_clean.sort_values(by="Name").reset_index(drop=True)
science_sorted = science_clean.sort_values(by="Name").reset_index(drop=True)

print(math_sorted.head())
print(science_sorted.head())

Merged male and female in both subject by alphabetical order:
   No              Name Math
0   2   Brown, Patricia   96
1   3   Brown, Richard   100
2   5    Davis, Barbara   79
3  10  Johnson, Barbara   89
4   4   Johnson, James    55
   No              Name Science
0   2   Brown, Patricia      80
1   3   Brown, Richard       63
2   5    Davis, Barbara      60
3  10  Johnson, Barbara      54
4   4   Johnson, James       55

4. Combine the two dataframes (student_grade_math and
student_grade_science) and save the dataset. Name it &quot;student_grades&quot;

In [22]:
print("Combined student grades:")
student_grades = pd.merge(math_sorted, science_sorted, on=["No", "Name"], how="outer")
print(student_grades)

     No                 Name        Math        Science
0     1      Jones, Richard           57             90
1     1       Smith, Dorothy          92             57
2    10     Johnson, Barbara          89             54
3    10        Jones, James           72             86
4    11         Miller, Mary          74             65
5    11      Miller, Thomas          NaN             75
6     2      Brown, Patricia          96             80
7     2       Jones, Charles          81             89
8     3      Brown, Richard          100             63
9     3    Johnson, Jennifer          55             77
10    4      Johnson, James           55             55
11    4     Miller, Jennifer          76             51
12    5       Davis, Barbara          79             60
13    5   Rodriguez, Joseph           64             99
14    6      Miller, Thomas           75             99
15    6        Wilson, Maria          82            100
16    7      Williams, John           71             89
17    7      Wilson, Dorothy          77             84
18    8    Johnson, Jennifer          55             77
19    8  Rodriguez, Charles           71             93
20    9    Miller, Elizabeth         NaN             84
21    9       Smith, Thomas           50             68
22  No.                 Name  Math grade  Science Grade

5. Load and read the students_grades and add new column &quot;Average&quot;

In [23]:
print("Adding new column 'Average':")
student_grades["Math"] = pd.to_numeric(student_grades["Math"], errors="coerce")
student_grades["Science"] = pd.to_numeric(student_grades["Science"], errors="coerce")
student_grades["Average"] = student_grades[["Math", "Science"]].mean(axis=1)

print(student_grades)

Adding new column 'Average':
     No                 Name   Math  Science  Average
0     1      Jones, Richard    57.0     90.0     73.5
1     1       Smith, Dorothy   92.0     57.0     74.5
2    10     Johnson, Barbara   89.0     54.0     71.5
3    10        Jones, James    72.0     86.0     79.0
4    11         Miller, Mary   74.0     65.0     69.5
5    11      Miller, Thomas     NaN     75.0     75.0
6     2      Brown, Patricia   96.0     80.0     88.0
7     2       Jones, Charles   81.0     89.0     85.0
8     3      Brown, Richard   100.0     63.0     81.5
9     3    Johnson, Jennifer   55.0     77.0     66.0
10    4      Johnson, James    55.0     55.0     55.0
11    4     Miller, Jennifer   76.0     51.0     63.5
12    5       Davis, Barbara   79.0     60.0     69.5
13    5   Rodriguez, Joseph    64.0     99.0     81.5
14    6      Miller, Thomas    75.0     99.0     87.0
15    6        Wilson, Maria   82.0    100.0     91.0
16    7      Williams, John    71.0     89.0     80.0
17    7      Wilson, Dorothy   77.0     84.0     80.5
18    8    Johnson, Jennifer   55.0     77.0     66.0
19    8  Rodriguez, Charles    71.0     93.0     82.0
20    9    Miller, Elizabeth    NaN     84.0     84.0
21    9       Smith, Thomas    50.0     68.0     59.0
22  No.                 Name    NaN      NaN      NaN

6. Reshaping with the Average (highest to lowest average)

In [26]:
print("Highest to Lowest Average:")
student_grades = student_grades.sort_values(by="Average", ascending=False)

print(student_grades)

Highest to Lowest Average:
     No                 Name   Math  Science  Average
15    6        Wilson, Maria   82.0    100.0     91.0
6     2      Brown, Patricia   96.0     80.0     88.0
14    6      Miller, Thomas    75.0     99.0     87.0
7     2       Jones, Charles   81.0     89.0     85.0
20    9    Miller, Elizabeth    NaN     84.0     84.0
19    8  Rodriguez, Charles    71.0     93.0     82.0
8     3      Brown, Richard   100.0     63.0     81.5
13    5   Rodriguez, Joseph    64.0     99.0     81.5
17    7      Wilson, Dorothy   77.0     84.0     80.5
16    7      Williams, John    71.0     89.0     80.0
3    10        Jones, James    72.0     86.0     79.0
5    11      Miller, Thomas     NaN     75.0     75.0
1     1       Smith, Dorothy   92.0     57.0     74.5
0     1      Jones, Richard    57.0     90.0     73.5
2    10     Johnson, Barbara   89.0     54.0     71.5
4    11         Miller, Mary   74.0     65.0     69.5
12    5       Davis, Barbara   79.0     60.0     69.5
9     3    Johnson, Jennifer   55.0     77.0     66.0
18    8    Johnson, Jennifer   55.0     77.0     66.0
11    4     Miller, Jennifer   76.0     51.0     63.5
21    9       Smith, Thomas    50.0     68.0     59.0
10    4      Johnson, James    55.0     55.0     55.0
22  No.                 Name    NaN      NaN      NaN

7. Remove data duplications

In [27]:
print("Removing data duplications:")
student_grades = student_grades.drop_duplicates(subset=['Name'], keep='first')
print(student_grades)

Removing data duplications:
     No                 Name   Math  Science  Average
15    6        Wilson, Maria   82.0    100.0     91.0
6     2      Brown, Patricia   96.0     80.0     88.0
14    6      Miller, Thomas    75.0     99.0     87.0
7     2       Jones, Charles   81.0     89.0     85.0
20    9    Miller, Elizabeth    NaN     84.0     84.0
19    8  Rodriguez, Charles    71.0     93.0     82.0
8     3      Brown, Richard   100.0     63.0     81.5
13    5   Rodriguez, Joseph    64.0     99.0     81.5
17    7      Wilson, Dorothy   77.0     84.0     80.5
16    7      Williams, John    71.0     89.0     80.0
3    10        Jones, James    72.0     86.0     79.0
1     1       Smith, Dorothy   92.0     57.0     74.5
0     1      Jones, Richard    57.0     90.0     73.5
2    10     Johnson, Barbara   89.0     54.0     71.5
4    11         Miller, Mary   74.0     65.0     69.5
12    5       Davis, Barbara   79.0     60.0     69.5
9     3    Johnson, Jennifer   55.0     77.0     66.0
11    4     Miller, Jennifer   76.0     51.0     63.5
21    9       Smith, Thomas    50.0     68.0     59.0
10    4      Johnson, James    55.0     55.0     55.0
22  No.                 Name    NaN      NaN      NaN

8. Remove null, missing, and irrelevant data.

In [28]:
print("Removing null, missing, and irrelevant data:")
student_grades = student_grades.dropna()
print(student_grades)

Removing null, missing, and irrelevant data:
    No                 Name   Math  Science  Average
15   6        Wilson, Maria   82.0    100.0     91.0
6    2      Brown, Patricia   96.0     80.0     88.0
14   6      Miller, Thomas    75.0     99.0     87.0
7    2       Jones, Charles   81.0     89.0     85.0
19   8  Rodriguez, Charles    71.0     93.0     82.0
8    3      Brown, Richard   100.0     63.0     81.5
13   5   Rodriguez, Joseph    64.0     99.0     81.5
17   7      Wilson, Dorothy   77.0     84.0     80.5
16   7      Williams, John    71.0     89.0     80.0
3   10        Jones, James    72.0     86.0     79.0
1    1       Smith, Dorothy   92.0     57.0     74.5
0    1      Jones, Richard    57.0     90.0     73.5
2   10     Johnson, Barbara   89.0     54.0     71.5
4   11         Miller, Mary   74.0     65.0     69.5
12   5       Davis, Barbara   79.0     60.0     69.5
9    3    Johnson, Jennifer   55.0     77.0     66.0
11   4     Miller, Jennifer   76.0     51.0     63.5
21   9       Smith, Thomas    50.0     68.0     59.0
10   4      Johnson, James    55.0     55.0     55.0

In [29]:
#Checking the first 10 rows

student_grades.head(10)

    No                 Name   Math  Science  Average
15   6        Wilson, Maria   82.0    100.0     91.0
6    2      Brown, Patricia   96.0     80.0     88.0
14   6      Miller, Thomas    75.0     99.0     87.0
7    2       Jones, Charles   81.0     89.0     85.0
19   8  Rodriguez, Charles    71.0     93.0     82.0
8    3      Brown, Richard   100.0     63.0     81.5
13   5   Rodriguez, Joseph    64.0     99.0     81.5
17   7      Wilson, Dorothy   77.0     84.0     80.5
16   7      Williams, John    71.0     89.0     80.0
3   10        Jones, James    72.0     86.0     79.0

9. Submit your csv file (student_grades) and notebook (ipynb).

In [30]:
student_grades.to_csv("student_grades.csv", index=False)

from google.colab import files
files.download("student_grades.csv")