<a href="https://colab.research.google.com/github/ienoiaa/ienoia/blob/master/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("employees.csv")
print(df.head())
print(df.info())
print(df.describe())

   Employee_ID   Name  Age Department  Salary
0          101  Alice   25         HR   50000
1          102    Bob   30         IT   70000
2          103  Carol   22         IT   65000
3          104   Dave   28    Finance   60000
4          105    Eve   35         HR   55000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_ID  5 non-null      int64
 1   Name         5 non-null      object
 2   Age          5 non-null      int64
 3   Department   5 non-null      object
 4   Salary       5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None
       Employee_ID        Age       Salary
count     5.000000   5.000000      5.00000
mean    103.000000  28.000000  60000.00000
std       1.581139   4.949747   7905.69415
min     101.000000  22.000000  50000.00000
25%     102.000000  25.000000  55000.00000
50%     103.000000  28.000000  60000.00000
75%     104.000000  30.000000  65000.00000
max     105.000000  35.000000  70000.00000